---
layout: default
category: inventory
title: Cards
---

<!-- Category Counts -->
{% assign totalCollection = 0 %}
  {% for card in site.data.cards %}
    {% assign totalCollection = totalCollection | plus: 1 %}
  {% endfor %}

<!-- Category Tabs -->
<div class="tab">
  <button class="tablinks" onclick="openTab('collection')">Collection ({{ totalCollection }} unique)</button>
</div>

<br>

<!-- Collection Tab -->
<div id="collection" class="tabcontent">
  {% assign sorted = site.data.cards | sort: "Name" %}
  {% for item in sorted %}
    <a href="https://scryfall.com/card/{{ item.Edition }}/{{ item.Collector }}/" target="_blank" rel="noopener noreferrer">{{ item.Name }}</a> x{{ item.Count }}
    <br>
  {% endfor %}
</div>

<!-- Tab Javascript -->
<script>
  function openTab(tabId) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabId).style.display = "block";
    event.currentTarget.className += " active";
  }

  // Show the first tab by default
  openTab('collection');
</script>
