---
layout: default
category: bibliography
tags: software
title: Software Architecture
---

<p>See discussion of Clean Code at <a href="https://www.reddit.com/r/learnprogramming/comments/139stu1/why_the_hate_towards_clean_code/" target="_blank" rel="noopener noreferrer">Reddit</a>, and qntm's article "<a href="https://qntm.org/clean" target="_blank" rel="noopener noreferrer">It's probably time to stop recommending Clean Code</a>" for some discussion of the relative merits of different approaches to software architecture. See also the ISO/IEC/IEEE standard <a href="https://www.iso.org/standard/74393.html" target="_blank" rel="noopener noreferrer">42010:2022</a> for Architecture Description.</p>

<br>

{% assign directoryPage = page %}
{% assign directorySlug = directoryPage.title | downcase | replace: " ", "-" %}
{% assign sorted = site.pages | sort: "published" | reverse %}

{% for item in sorted %}
  {% if item.category contains "books" and item.tags contains directorySlug %}
    {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
  {% endif %}
{% endfor %}
