---
layout: default
---

<article class="h-entry"><div class="page">

  {{ content }}

  <!-- Checks if page is tagged for Bibliography -->
  {% if page.tags contains "bibliography" %}

    <br>

    <div id="Bibliography">
      <h4>Bibliography</h4>

        {% assign bibliographyPage = page %}
        {% assign bibliographyTopic = bibliographyPage.title | downcase | replace: " ", "-" %}

        {% assign sorted = site.pages | sort: 'published' | reverse %}
        {% for item in sorted %}
          {% if item.category contains "books" and item.tags contains bibliographyTopic %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

    </div>

  {% endif %}


  <!-- Checks if page is tagged for Codex -->
  {% if page.tags contains "codex" %}

    <br>

    <div id="Codex">
      <h4>Codex</h4>

        {% assign codexAuthor = page.title %}

        <!-- Authors > Books -->
        {% assign sorted = site.pages | sort: 'published' | reverse %}
        {% for item in sorted %}
          {% if item.category contains "books" and item.author contains codexAuthor %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

        <!-- Authors > Commonplace -->
        {% assign sorted = site.posts | sort: 'date' | reverse %}
        {% for item in sorted %}
          {% if item.category contains "commonplace" and item.publication contains codexAuthor %}
            {{ item.date | date: "%Y-%m-%d" }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

        <!-- Developers / Publishers > Video Games -->
        {% assign sorted = site.pages | sort: 'releaseDate' | reverse %}
        {% for item in sorted %}
          {% if item.category contains "videogame" and item.developer contains codexAuthor or item.publisher contains codexAuthor %}
            {{ item.releaseDate | date: "%Y-%m-%d" }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

    </div>

  {% endif %}

</div></article>
