---
layout: default
---

<article class="h-entry"><div class="page">

  <!-- Checks if YAML requests citation + abstract generator -->
  {% if page.citation == true %}
    {% include citation.html %}
  {% endif %}

  {{ content }}

  <!-- Checks if page is tagged for Bibliography -->
  {% if page.tags contains "bibliography" %}

    <br>

    <div id="Bibliography">
      <h4>Bibliography</h4>

        {% assign bibliographyPage = page %}
        {% assign bibliographyTopic = bibliographyPage.title | downcase | replace: " ", "-" %}

        {% assign sorted = site.pages | sort: 'published' | reverse %}
        {% for item in sorted %}
          {% if item.category contains "books" and item.tags contains bibliographyTopic %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

    </div>

  {% endif %}


  <!-- Checks if page is tagged for Bookmarks -->
  {% if page.tags contains "bookmarks" %}

    <br>

    <div id="Bookmarks">
      <h4>Bookmarks</h4>

        {% assign bookmarkPage = page %}
        {% assign bookmarkTopic = bookmarkPage.title | downcase | replace: " ", "-" | replace: ".", "" %}

        {% assign bookmarks = site.pages | where: "category", "wiki" | where_exp: "page", "page.tags contains bookmarkTopic" | sort: 'date' | reverse %}
        {% for item in bookmarks %}
          {{ item.date }} <a href="{{ item.url }}">{{ item.title }}</a><br>
        {% endfor %}

    </div>

  {% endif %}


  <!-- Checks if page is tagged for Ludography -->
  {% if page.tags contains "ludography" %}

    <br>

    <div id="Ludography">
      <h4>Ludography</h4>

        {% assign ludographyPage = page %}
        {% assign ludographyTopic = ludographyPage.title | downcase | replace: " ", "-" %}

        {% assign sorted = site.pages | sort: 'published' | reverse %}
        {% for item in sorted %}
          {% if item.category contains "videogame" and item.tags contains ludographyTopic %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

    </div>

  {% endif %}



  <!-- Checks if page is tagged for Codex -->
  {% if page.tags contains "codex" %}

    <br>

    <div id="Codex">
      <h4>Codex</h4>

        {% assign codexSearch = page.title %}

        <!-- Authors > Commonplace -->
        {% assign sorted = site.posts | sort: 'date' | reverse %}
        {% for item in sorted %}
          {% if item.category contains "commonplace" and item.publication contains codexSearch %}
            {{ item.date | date: "%Y-%m-%d" }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

        <!-- Developers / Publishers -->
        {% assign sorted = site.pages | sort: 'published' | reverse %}
        {% for item in sorted %}
          {% if item.developer contains codexSearch or item.publisher contains codexSearch %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

        <!-- Directors / Producers / Writers -->
        {% assign sorted = site.pages | sort: 'published' | reverse %}
        {% for item in sorted %}
          {% if item.director contains codexSearch or item.producer contains codexSearch or item.author contains codexSearch %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

        <!-- Platforms -->
        {% assign sorted = site.pages | sort: 'published' | reverse %}
        {% for item in sorted %}
          {% if item.platform contains codexSearch %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

    </div>

  {% endif %}


  <!-- Add listening section to records -->
  {% if page.category contains "vinyl" %}

    <br>

    <div id="Listens">
      <h4>Listens</h4>

        {% assign listens = site.posts | where: "category", "activity" | where: "subcategory", "listen" | where: "title", page.title %}
          {% for item in listens %}
            {{ item.date | date: "%Y-%m-%d" }}<br>
          {% endfor %}

  {% endif %}


  <!-- Add playing section to boardgame -->
  {% if page.category contains "board-game" %}

    <br>

    <div id="Plays">
      <h4>Plays</h4>

        {% assign plays = site.posts | where: "category", "post" | where: "subcategory", "boardgame" | where: "title", page.title %}
          {% for item in plays %}
            {{ item.date | date: "%Y-%m-%d" }}<br>
          {% endfor %}

  {% endif %}


  <!-- Variant for video games -->
  {% if page.category contains "library" and page.subcategory contains "video-game" %}

    <br>

    <div id="Progress">
      <h4>Progress</h4>

        <p>
        {% assign plays = site.posts | where: "title", page.title %}
          {% for item in plays %}
            {{ item.date | date: "%Y-%m-%d" }} <a href="{{ item.link }}">{{ item.percent }}%</a><br>
          {% endfor %}
        </p>

    <br>

    <div id="rating">
      <h4>Rating</h4>

        <p>
        {% for item in plays %}
          {% if item.rating == 1 %}
            ★
          {% elsif item.rating == 1.5 %}
            ★½
          {% elsif item.rating == 2 %}
            ★★
          {% elsif item.rating == 2.5 %}
            ★★½
          {% elsif item.rating == 3 %}
            ★★★
          {% elsif item.rating == 3.5 %}
            ★★★½
          {% elsif item.rating == 4 %}
            ★★★★
          {% elsif item.rating == 4.5 %}
            ★★★★½
          {% elsif item.rating == 5 %}
            ★★★★★
          {% endif %}
        {% endfor %}
        </p>

  {% endif %}

  <!-- Captures -->
  {% if page.captures == true %}

  {% assign slugsearch = page.title | slugify: "latin" %}

    <br>

    <div id="Captures">
      <h4>Captures</h4>

        <p>
        {% assign captures = site.static_files | where_exp: "file", "file.path contains slugsearch" | sort: "name" | reverse %}
          {% for item in captures %}
            <a href="{{ item.path }}">{{ item.name }}</a><br>
          {% endfor %}
        </p>

  {% endif %}

</div></article>
