---
layout: default
---

<article class="h-entry"><div class="page">

  {{ content }}

  <!-- Checks if page is tagged for Bibliography -->
  {% if page.tags contains "bibliography" %}

    <br>

    <div id="Bibliography">
      <h4>Bibliography</h4>

        {% assign bibliographyPage = page %}
        {% assign bibliographyTopic = bibliographyPage.title | downcase | replace: " ", "-" %}

        {% assign ordered = site.pages | sort: 'published' | reverse %}
        {% for item in ordered %}
          {% if item.category contains "books" and item.tags contains bibliographyTopic %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

    </div>

  {% endif %}


  <!-- Checks if page is tagged for Ludography -->
  {% if page.tags contains "ludography" %}

    <br>

    <div id="Ludography">
      <h4>Ludography</h4>

        {% assign ludographyPage = page %}
        {% assign ludographyTopic = ludographyPage.title | downcase | replace: " ", "-" %}

        {% assign ordered = site.pages | sort: 'published' | reverse %}
        {% for item in ordered %}
          {% if item.category contains "videogame" and item.tags contains ludographyTopic %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

    </div>

  {% endif %}



  <!-- Checks if page is tagged for Codex -->
  {% if page.tags contains "codex" %}

    <br>

    <div id="Codex">
      <h4>Codex</h4>

        {% assign codexSearch = page.title %}

        <!-- Authors > Commonplace -->
        {% assign ordered = site.posts | sort: 'date' | reverse %}
        {% for item in ordered %}
          {% if item.category contains "commonplace" and item.publication contains codexSearch %}
            {{ item.date | date: "%Y-%m-%d" }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

        <!-- Developers / Publishers -->
        {% assign ordered = site.pages | sort: 'published' | reverse %}
        {% for item in ordered %}
          {% if item.developer contains codexSearch or item.publisher contains codexSearch %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

        <!-- Directors / Producers / Writers -->
        {% assign ordered = site.pages | sort: 'published' | reverse %}
        {% for item in ordered %}
          {% if item.director contains codexSearch or item.producer contains codexSearch or item.author contains codexSearch %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

        <!-- Platforms -->
        {% assign ordered = site.pages | sort: 'published' | reverse %}
        {% for item in ordered %}
          {% if item.platform contains codexSearch %}
            {{ item.published }} <a href="{{ item.url }}">{{ item.title }}</a><br>
          {% endif %}
        {% endfor %}

    </div>

  {% endif %}

</div></article>
